
table.table-primary {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table-primary td, .table-primary th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.table-primary tr:nth-child(even) {
    background-color: #dddddd;
}