.flechas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
    font-size: 20px;
}
.flechas button{
    background-color: white;
    font-size: 20px;
    border: 0px;
}
.flechas button:hover{
    cursor: pointer;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}