.main{
    flex-grow: 1;
    padding: 1.5625rem 3.125rem 1.5625rem 3.125rem;
}
.contenedor-tabla-flechas{
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main .contenedor-botonNuevo{
    padding: 0 20px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.modalErrors{
    margin: 10px;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:red
}