.modal-form {
  margin: 1rem;
}

.contenedor-centrado {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenedor-centrado form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
